.homePage {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.twoButtonField {
  display: flex;
  flex-direction: row;
}

.buttonSearch {
  font-size: 15px;
  border-radius: 15px;
  border: 1px solid #000000;
  background: #9eebd9;
  margin-left: 24px;
  height: 40px;
  padding-left: 16px;
  padding-right: 16px;
  margin-top: 28px;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.5);
}

.buttonProof {
  font-size: 15px;
  border-radius: 15px;
  border: 1px solid #000000;
  background: #8fe0f9;
  margin-left: 24px;
  height: 40px;
  padding-left: 24px;
  padding-right: 24px;
  margin-top: 28px;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.5);
}

button:disabled {
  background: grey;
  cursor: not-allowed;
  color: black;
}
