// Ich nutze hier SCSS statt CSS. CRA unterstuetzt das alles. Nur CSS ist aber auch ok.

.circle {
  background: #f2f2f2;
  border-radius: 20px;

  // 1rem = 16px; Mit rems arbeiten ist gut, um einfacher mit Vielfachen von 8 Arbeiten zu koenne.
  // zu viele verschiedene Abstaende (uneinheitlich) sind nicht nice zum angucken
  margin-top: 0.5rem;
  padding: 0.5rem 0.5rem 0.5rem 2rem;

  display: flex;
  justify-content: space-between;

  // Ihr seht, die Abstaende sind nicht ganz einheitlich... Dann muessen wir da "aushelfen"
  &:first-of-type {
    margin-top: 0;
  }

  > span {
    // TODO: get font from wireframe group
    //font-family: Angkor;
    font-style: normal;
    font-weight: normal;
    font-size: 1rem;
  }
}
