.searchField {
  padding-top: 54px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.rectangleSearch {
  border-radius: 20px;
  background: rgba(56, 157, 231, 0.9);
  font-size: 15px;
  text-align: center;
  border: transparent;
  width: 570px;
  margin-left: 8px;
  height: 40px;
}

.searchButton {
  background: transparent;
  border: transparent;
}

.searchIcon {
  cursor: pointer;
}
