.back {
  height: auto;
  width: auto;
  display: grid;
  grid-gap: 5px;
  grid-template-columns: 150px auto auto 100px;
}

.lone {
  margin-left: 30px;
  margin-top: 30px;
  grid-column: 1;
  grid-row: 1;
}
.mtwo {
  grid-column: 2;
  grid-row: 2 / 4;
}
.mthree {
  grid-column: 2;
  grid-row: 2;
}
.mfour {
  grid-column: 2;
  grid-row: 3;
}
.mfive {
  grid-column: 2;
  grid-row: 4;
}

.msix {
  grid-column: 2;
  grid-row: 5;
}

.mseven {
  grid-column: 2;
  grid-row: 6;
}

.meight {
  grid-column: 2;
  grid-row: 7;
}

.mnine {
  grid-column: 2;
  grid-row: 8;
}

.mten {
  grid-column: 2;
  grid-row: 9;
}

.rone {
  grid-column: 3;
  grid-row: 2;
}

.rtwo {
  grid-column: 3;
  grid-row: 4;
}

.rthree {
  grid-column: 3;
  grid-row: 5;
}

.button1 {
  grid-column: 3;
  grid-row: 6;
  width: 130px;
  height: 20px;
  background: #c4c4c4;
  border-radius: 15px;
  font-size: 10px;
}

.button2 {
  grid-column: 4;
  grid-row: 6;
  width: 130px;
  height: 20px;
  background: #c4c4c4;
  border-radius: 15px;
  font-size: 10px;
  margin-left: -50px;
}

.report {
  grid-column: 3;
  grid-row: 8;
}
