.oval {
  padding: 0 8px;
  background: #f2f2f2;
  border-radius: 20px;
  margin-left: 10px;
}

.oval:first-of-type {
  margin-left: 0;
}

.textStyle {
  font-size: 18px;
  display: flex;
  color: #000000;
  margin: 10px 0px;
}
