.item {
  display: flex;
  height: 50px;
  align-items: center;
  cursor: pointer;

  & + & {
    margin-top: 0.5rem;
  }
}

.pic {
  height: 100%;
  border-radius: 50px;
  width: auto;
}

.name {
  margin-left: 0.5rem;
  font-size: 1rem;
  display: inline-block;
}

.texts {
  flex: 0 1 auto;
  display: flex;
  flex-direction: column;
  width: 60%;
}

.message {
  margin-left: 1rem;
  margin-top: 0.5rem;
  font-size: 0.75rem;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  width: 100%;
}

.icon {
  margin-left: auto;
}

.icon2 {
  margin-left: 8px;
}

p span {
  display: block;
}
