.searchInput {
  width: 100%;
  display: flex;
  align-items: center;

  input {
    margin-left: 1rem;
    padding: 0.5rem 1rem;
    background: #e0e0e0;
    border: 1px solid #828282;
    border-radius: 20px;
    width: 100%;
  }
}

.icon {
  cursor: pointer;
}
