.background {
  width: 50%;
  margin: auto;
}

.pill {
  padding: 0 8px;
  background: #c4c4c4;
  border-radius: 20px;
  margin-left: 10px;
  width: 130px;
}

.picture {
  margin-top: 100px;
  width: 150px;
  height: 150px;
  border-radius: 50px;
  display: block;
  content: '\A';
  white-space: pre-line;
}

.name {
  font-size: 20px;
  display: block;
  content: '\A';
  white-space: pre-line;
}

.member {
  font-size: 12px;
  display: block;
  content: '\A';
  white-space: pre-line;
}

.button1 {
  margin-left: -50px;
  margin-top: 70px;
  line-height: 33px;
  display: flex;
  align-items: center;
  text-align: center;
}

.button {
  margin-top: 15px;
  margin-left: -50px;
  line-height: 33px;
  display: flex;
  align-items: center;
  text-align: center;
}

.buttonText {
  font-size: 18px;
  margin-top: -20px;
  display: flex;
  align-items: center;
  text-align: center;
}

.deleteFriend {
  font-size: 12px;
}
