$entry-padding: 0.5rem;

.entry {
  display: grid;
  width: 100%;
  grid-template-areas:
    'avatar name name'
    'avatar message date';
  grid-template-columns: auto 4fr auto;
  grid-column-gap: 1rem;
  background: lighten(#8fe0f9, 15);
  padding: $entry-padding;
  border-radius: 15px 15px 15px 0;
  position: relative;

  & + & {
    margin-top: 1rem;
  }

  &::after {
    content: '';
    width: 0;
    height: 0;
    border-top: 10px solid transparent;
    border-left: 10px solid transparent;
    border-bottom: 10px solid lighten(#8fe0f9, 15);
    position: absolute;
    bottom: 0;
    left: -10px;
  }

  &.reversed {
    border-radius: 15px 15px 0 15px;

    &::after {
      right: -10px;
      left: unset;
      border-top: 10px solid transparent;
      border-right: 10px solid transparent;
      border-bottom: 10px solid lighten(#8fe0f9, 15);
    }
  }
}

.avatar {
  grid-area: avatar;
  display: grid;
  align-items: center;

  > svg {
    border: solid thin black;
  }
}

.name {
  grid-area: name;
}

.message {
  grid-area: message;
}

.date {
  display: flex;
  align-items: flex-end;
  position: relative;
  font-size: 0.75rem;
  grid-area: date;
  bottom: -0.25 * $entry-padding;
}

.iconWrapper {
  width: 50px;
  height: 50px;
  border-radius: 50px;
  border: solid thin black;
  display: flex;
  justify-content: center;
  align-items: center;
}
