.wrapper {
  display: flex;
}

.outlet {
  margin: 1rem 5rem;
  display: flex;
  justify-content: center;
  width: 100%;

  > p {
    margin: {
      top: 0;
      left: auto;
      right: auto;
      bottom: 0;
    }
  }
}
