.checkboxRow {
  padding: 0.25rem 1rem 0.25rem 1.25rem;
  background-color: white;
  display: flex;
  border-radius: 20px;

  > input {
    margin-left: auto;
  }

  & + & {
    margin-top: 0.25rem;
  }
}
