.button {
  display: flex;
  align-items: center;
  border-radius: 9px;
  height: 2rem;
  margin-left: 1.75rem;
  font-size: 0.9rem;
  font-weight: 500;
  cursor: pointer;
  padding: 1rem 0.25rem;
  border: solid thin black;
  background: linear-gradient(180deg, #2a9fdc 40.1%, #8fe0fa 91.67%);
  text-decoration: none;
  text-transform: none;
  color: black;

  &:disabled,
  .disabled {
    background: grey;
    cursor: not-allowed;
  }
}
