:global {
  html,
  body {
    height: 100%;
    margin: 0;
  }

  #root {
    display: flex;
    flex-direction: column;
    min-height: 100%;
  }
}

.wrapper {
  width: 100%;
  display: flex;
  flex: 1 1 auto;

  .sidebar {
    width: 25%;
  }

  .main {
    width: 75%;
  }

  > * {
    flex: 1 1 auto;
  }
}

.sidebar {
  display: flex;
  flex-direction: column;
  background: #2d9cdb;
  flex: 1 1 auto;
  padding: 1rem 6rem 1rem 2rem;

  button:last-of-type {
    margin-top: 2rem;
  }
}

.sidebarWrapper {
  position: sticky;
  top: 1rem;
}

.section {
  display: flex;
  width: 100%;
  flex-direction: column;

  h1 {
    margin: 0 0 0.75rem 0;
    font-weight: 400;
    font-size: 2rem;
  }

  & + & {
    margin-top: 1rem;
  }
}

.main {
  display: flex;
  flex-direction: column;
  padding: {
    top: 1rem;
    left: 120px;
    right: 120px;
    bottom: 0;
  }

  .items {
    margin-top: 2rem;

    > * + * {
      margin-top: 1rem;
    }
  }
}

.search {
  top: 0;
  background: white;
  padding: 1rem 0;
  position: sticky;
  width: 100%;
  display: flex;
  align-items: center;
}

.searchInputContainer {
  flex: 1 0 auto;
}

.searchControls {
  display: flex;
  flex-direction: column;
  margin-left: 2rem;

  > * + * {
    margin-top: 0.5rem;
  }
}

.switchRow {
  display: flex;
  align-items: center;

  div:last-child {
    margin-left: 1rem;
  }
}

.dateRange {
  display: flex;
  flex-direction: column;

  > div {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;

    & + div {
      margin-top: 1rem;
    }
  }
}

.commitSearchButton {
  width: 100%;
  background: white;
  border: 0;
  padding: 0.5rem 0;
  border-radius: 1rem;
  font-weight: bold;
  cursor: pointer;

  &:hover {
    background: darken(white, 10);
  }
}
