.box {
  margin-left: 11.2rem;
  width: 1rem;
  height: 1rem;
  border: 1px;
  background: #c4c4c4;
  margin-top: 2.5rem;
  display: inline-flex;
}

.textStyle {
  margin-left: 1.25rem;
  margin-top: 2.5rem;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 24px;
  align-items: center;
  text-align: center;
}
