.loginWindow {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-left: solid thin black;
  padding: 0;
  margin: 0;
  height: 100%;
}

.login {
  font-size: 24px;
  line-height: 44px;
  text-shadow: 3px 4px 4px rgba(0, 0, 0, 0.3);
  padding-top: 24px;
  padding-bottom: 56px;
}

.buttonPW {
}

.buttonLog {
  font-size: 1rem;
  line-height: 2rem;
  margin-top: 2rem;
  border-radius: 1rem;
  background: #8fe0f9;
  border: 1px solid #000000;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.5);
  padding-left: 24px;
  padding-right: 24px;
}

.form {
  padding: 0 1rem;
  display: flex;
  flex-direction: column;

  button:last-of-type {
    border: transparent;
    background: transparent;
    text-decoration-line: underline;
    margin: 1rem auto 0 auto;
  }
}
