$gradient-start: #2a9fdc;
$gradient-end: #8fe0fa;
$gradient: linear-gradient(180deg, $gradient-start 40.1%, $gradient-end 91.67%);
$gradient-hover: linear-gradient(
  180deg,
  lighten($gradient-start, 10) 40.1%,
  lighten($gradient-end, 10) 91.67%
);

.button {
  width: 100%;
  background: $gradient;
  border-radius: 9px;
  border: none;
  padding: 0.75rem 0;
  font-weight: bold;
  font-size: 1rem;
  margin-top: 2rem;
  cursor: pointer;

  &:hover {
    background: $gradient-hover;
  }
}
