.textStyle {
  margin-top: 2rem;
  margin-left: 11.875rem;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 29px;
}

.field {
  margin-top: 2rem;
  background: #e0e0e0;
  width: 24.5rem;
  height: 2.25rem;
  font-size: 11px;
  line-height: 20px;
}
