.category {
  background: #84e6cf;
  width: 200px;
  max-height: 850px;
  line-height: 22px;

  > span {
    font-size: 1rem;
  }
}

.item {
  font-size: 0.75rem;

  > span {
    margin-left: 30px;
  }
}
