.messageBox {
  display: flex;
  flex-direction: column;
  margin-top: 2rem;
  width: 50rem;
  height: 35rem;
  border: solid thin #828282;
  border-radius: 1rem;
  padding: {
    top: 0;
    left: 1rem;
    right: 1rem;
    bottom: 1rem;
  }
  overflow-y: scroll;
  -ms-overflow-style: none;

  &::-webkit-scrollbar {
    display: none;
  }
}

.input {
  border: 1px solid #828282;
  padding: 0.5rem 1rem;
  border-radius: 20px;
  flex: 1 0 auto;
}

.messageControl {
  margin-top: 2rem;
  display: flex;
  width: 100%;

  > button {
    margin-left: 1rem;
    align-items: center;
    border-radius: 9px;
    font-size: 0.9rem;
    font-weight: 500;
    cursor: pointer;
    padding: 0.5rem 0.5rem;
    border: solid thin black;
    background: linear-gradient(180deg, #2a9fdc 40.1%, #8fe0fa 91.67%);
    text-decoration: none;
    text-transform: none;
    color: black;

    &:disabled,
    .disabled {
      background: grey;
      cursor: not-allowed;
    }
  }
}

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;

  > h1 {
    margin: 0;
    color: lighten(black, 30);
  }
}

.dateSeparator {
  display: inline-block;
  align-self: center;
  margin: 0.5rem 0;
  font-size: 0.9rem;
  font-weight: 600;
  text-align: center;
  background: lighten(#8fe0f9, 15);
  padding: 0.5rem;
  border-radius: 15px;
}
