.item {
  display: flex;
  height: 50px;
  align-items: center;

  & + & {
    margin-top: 0.5rem;
  }
}

.pic {
  height: 100%;
  border-radius: 50px;
  width: auto;
}

.name {
  margin-left: 0.5rem;
  font-size: 0.75rem;
}
