.background {
  height: 54rem;
  width: auto;
}

.inputs {
  margin-top: 4.35rem;
  display: grid;
  grid-template-columns: 0.64fr 1.8fr;
  column-gap: 2.8rem;

  label {
    grid-column: 1;
    text-align: right;
  }

  input {
    grid-column: 2;
  }

  select {
    grid-column: 2;
  }
}

.info {
  text-align: left;
  font-size: 11px;
  line-height: 20px;
  align-items: center;
  grid-column: 2;
}

.button {
  margin-left: 2rem;
  background: #c4c4c4;
  border-radius: 9px;
  width: 8rem;
  height: 2.25rem;
}

.register {
  background: #84e6cf;
  border-radius: 1rem;
  width: 10rem;
  height: 3rem;
  font-size: 18px;
  align-items: center;
  text-align: center;
  margin-left: 30rem;
  margin-top: 2rem;
}

.header {
  margin-left: 2rem;
  width: 50rem;
  height: 2.25rem;
  display: flex;
  align-items: center;
  font-size: 20px;
}
