.left {
  width: 100%;
  display: inline-flex;
  align-items: center;

  :first-child {
    margin-left: 0;
  }
}

.header {
  text-align: center;
  font-family: Anton;
  font-style: normal;
  font-weight: bold;
  font-size: 54px;
  line-height: 79px;
  letter-spacing: 0.05em;
  margin: 0;

  color: #000000;

  -webkit-text-stroke: 5px #219cdb;
  text-shadow: 4px 4px 4px rgba(0, 0, 0, 0.3);
}

.right {
  width: 100%;
  display: inline-flex;
  align-items: center;
  justify-content: flex-end;
}

.all {
  width: 100%;
  display: inline-flex;
  align-items: center;
}

.grid {
  display: grid;
  width: 100%;
  grid-template-columns: 1fr 1fr 1fr;
}
