.fieldRow {
  display: flex;
  flex-direction: row;
  width: 100%;
  margin-bottom: 52px;

  button {
    background: #8fe0fa;
    flex: 1 0 auto;
    height: 4rem;
    font-size: 1rem;
    font-weight: 600;
    border: 1px solid #000000;
    box-shadow: 0px 2px 4px #4f4f4f;
    cursor: pointer;

    &:last-of-type {
      background: unset;
    }
  }
}
