.start {
  display: inline-flex;
  margin-left: 42rem;
}

.button {
  background: #2d9cdb;
  border-radius: 9px;
  border-color: black;
  width: 6.6rem;
  height: 2rem;
  text-align: center;
  margin-right: 1.25rem;
  line-height: 1.6rem;
  font-size: 0.9rem;
  margin-top: 0.5rem;
}
