.back {
  height: auto;
  width: 100%;
  background: #e0e0e0;
  cursor: pointer;
}

.bottom {
  margin-top: 1rem;
  display: flex;
  justify-content: center;
  height: 5rem;
  background: #2d9cdb;
  padding: 1rem;
  cursor: default;
}

.iconButton {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border: none;
  background: #f2f2f2;
  padding: 0 0.5rem;
  border-radius: 1.25rem;
  cursor: pointer;

  & + & {
    margin-left: 1rem;
  }

  &.disabled {
    background: grey;
    cursor: not-allowed;
  }

  > .host {
    margin-left: 0.5rem;
    background: transparent;
    text-decoration: none;
    border: none;
    outline: none;
    color: black;
    font-size: 1rem;
  }
}

.tags {
  margin-top: 1rem;
  display: flex;
  align-items: center;
  padding: 0 5rem;
  flex-wrap: wrap;

  > span {
    font-size: 1.25rem;
  }

  :nth-child(2) {
    margin-left: 1rem !important;
  }
}
