.inputField {
  display: inline-flex;
  flex-direction: row;
  margin-top: 12px;
}

.input {
  height: 36px;
  width: 248px;
  background: rgba(50, 184, 228, 0.8);
  border: 1px solid #000000;
  margin-left: 12px;
}

.span {
  font-size: 17px;
  line-height: 31px;
  width: 90px;
  text-align: right;
}
