.box {
  width: 435px;
}

.head {
  background: linear-gradient(
      180deg,
      rgba(255, 255, 255, 0.4) 0%,
      rgba(255, 255, 255, 0) 100%
    ),
    #8fe0f9;
  height: 36px;
  font-size: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
}

.outlet {
  padding: 0.5rem 0;
}

.icon {
  cursor: pointer;
}
