.item {
  display: flex;
  height: 50px;
  align-items: center;

  & + & {
    margin-top: 0.5rem;
  }
}

.pic {
  height: 100%;
  border-radius: 50px;
  width: auto;
}

.name {
  margin-left: 0.5rem;
  font-size: 0.75rem;
  display: inline-block;
}

.message {
  margin-left: 1rem;
  display: block;
  content: '\A';
  white-space: pre-line;
  font-size: 0.75rem;
}

.icon {
  margin-left: auto;
}

.icon2 {
  margin-left: 8px;
}

p span {
  display: block;
}
